## Threads data analysis with python

### Importamos las bibliotecas
* Pandas

In [7]:
import pandas as pd

Leemos la data generada desde un csv

In [8]:
df = pd.read_csv('./data/data.csv')

Generamos el dataframe con las columnas de inter√©s:
Text y likes

In [9]:
df.columns = ['Text', 'Likes']

Mostramos el contenido de la cabecera del dataframe

In [12]:
df.head(2)

                                                Text  Likes
0  Listo, ya solo documento algunos ejemplos con ...     32
1  Ya les ando preparando el repo para que puedan...     11

Eliminamos los valores nulos del dataframe

In [11]:
# Remove NaN values
df = df.dropna()

Mostramos el contenido del dataframe

In [13]:
df.head(2)

                                                Text  Likes
0  Listo, ya solo documento algunos ejemplos con ...     32
1  Ya les ando preparando el repo para que puedan...     11